
h1 {
    background-color: bisque;
    text-align: center;
    margin-bottom: 0;

}

/*ul {
    width: 100px;
    height: 200px;
    border: 3px solid black;
    margin: 0 auto;
    list-style: none;
    padding: 0;
} */

li {
    background-color: aliceblue;
    width: 20%;
    height: 49px;
    border: 1px solid black;
    list-style-type: none;
     text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#equals, #plus, #minus, #divide, #multiply {
    background-color: paleturquoise;
}

h2 {
    background-color: lavender;
    text-align: center;
    width: 20%;
    height: 49px;
    margin: auto;
    border: 1px solid black;
     display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.container {
   display: flex; 
   justify-content: center;
   /* align-items: flex-start; */
   flex-wrap: wrap;
   gap: 1em;
}

.calc {
    background-color: rgb(209, 233, 245);
    padding: 5px;
}

body {
    width: 50%;
    margin: auto;
}